h1 {
  text-align: center;
}

body {
  padding-top: 20px;
  background-color: transparent;
  /* background-color: grey; */
  /* background-image: linear-gradient(to top, #b3b3b3 0%,#f1f1f1 100%); */
}

html {
  min-height: 101%; /* This is to always have a scrollbar and avoid jumps when it appears */
  background-color: rgb(250, 250, 250);
}

/* Main title */
.jumbotron {
  text-align: center;
  background-color: transparent;
  padding: 20px;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.navbar {
  background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
  border: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-nav .nav-item {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

/* Alerts */
.alert-success {
  display: none;
  padding: 10px;
}

.alert-secondary {
  display: none;
  padding: 10px;
  margin-right: 20px;
}

/* Building filter */
#buildingFilter {
  margin: 20px;
}

#inlineBuildingSelector {
  width: 70px;
}

.paragraph {
  margin: 20px 0px 60px 0px;
}

/* Table */
.table {
  border-radius: 8px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
}

.roomLine{
  display: none;
  /* border-radius: 10px; */
  /* box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.3), 0 5px 10px 0 rgba(0, 0, 0, 0.1); */
}

.buildingLine {
  display: none;
  border-radius: 8px;
}
