<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Rooms</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
  integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/loading.css">

</head>
<body>
  <div class="container">

    <!-- Header -->
    <header class="masthead">
      <h3 class="text-muted">Smart building project</h3>
      <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav text-md-center nav-justified w-100">
            <li class="nav-item">
              <a class="nav-link" href="buildings.html">Buildings</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="">Rooms<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="lightManagement.html">Light Management</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="noiseManagement.html">Noise Management</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Title -->
    <div class="jumbotron">
      <h1>List of rooms</h1>
      <p class="lead">Here you can see all the rooms registered and switch their light or ringer status.</p>
    </div>


    <!-- Buildings filter -->
    <div id="buildingFilter">
      <form>
        <div class="form-row align-items-center">
          <div class="col-auto">
            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
              <input type="checkbox" class="custom-control-input" id='filterToggle'>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Filter by building</span>
            </label>
          </div>
          <div class="col-auto">
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineBuildingSelector" disabled="true">
              <option selected>All</option>
              <option v-for="b in buildings" :value="b.id">{{b.id}}</option>
            </select>
          </div>
        </div>
      </form>
    </div>

    <!-- Table -->
    <div id="roomsVue">
      <table class = "table table-hover">
        <thead>
          <tr>
            <th>N° room</th>
            <th>N° building</th>
            <th>Light Status</th>
            <th>Light Level</th>
            <th>Ringer Status</th>
            <th>Noise Level</th>
            <th>Switch Light</th>
            <th>Switch Ringer</th>
          </tr>
        </thead>
        <tbody>
          <tr class="roomLine" v-for="room in rooms">
            <td class="roomId">{{ room.id }}</td>
            <td class="buildingId">{{ room.buildingId }}</td>
            <td><div v-if="room.light.status == 'ON'"><img src="img/light-on.png"></div>
              <div v-else-if="room.light.status == 'OFF'"><img src="img/light-off.png"></div>
            </td>
            <td>{{ room.light.level }}</td>
            <td><div v-if="room.noise.status == 'ON'"><img src="img/ringer-on.png"></div>
              <div v-else-if="room.noise.status == 'OFF'"><img src="img/ringer-off.png"></div>
            </td>
            <td>{{ room.noise.level }}</td>
            <td><button @click="switchLight(room)" class="btn btn-light"><img class="switchLightImg" src="img/switch.png" width="20" /></button></td>
            <td><button @click="switchRinger(room)" class="btn btn-light"><img class="switchRingerImg" src="img/switch.png" width="20" /></button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Loading (temporary) -->
    <div class="loading">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>

  </div>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/mqtt.min.js.download"></script>
  <script src="js/roomVue.js"></script>
  <script src="js/rooms.js"></script>
</body>
</html>
